<launch>

 <!-- Specify the config files to use -->
    <rosparam ns="iksolver_ex" command="load" file="$(find moveit_tutorials)/doc/moveit_cpp/config/moveit_cpp.yaml" />

    <include file="$(find fetch_moveit_config)/launch/demo.launch"/>

    <!-- If needed, broadcast static tf for robot root -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world base_link" />


</launch>
