<launch>

  <arg name="robot" default="fetch"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

<node name="table_spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
args="-file $(find fetch_robot_sim)/models/table/table.sdf -sdf -x 1.8 -y 0 -z 0  -R 0 -P 0 -Y 1.57 -model table"/>

<node name="small_cube_spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
args="-file $(find fetch_robot_sim)/models/small_cube/small_cube.sdf -sdf -x 1.5 -y -0.5 -z 0.8  -R 0 -P 0 -Y 0 -model small_cube"/>
<node name="large_cube_spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
args="-file $(find fetch_robot_sim)/models/large_cube/large_cube.sdf -sdf -x 1.5 -y 0 -z 0.8  -R 0 -P 0 -Y 0 -model large_cube"/>
<node name="cylinder_spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
args="-file $(find fetch_robot_sim)/models/cylinder/cylinder.sdf -sdf -x 1.5 -y 0.5 -z 0.8  -R 0 -P 0 -Y 0 -model cylinder"/>


  <!-- Oh, you wanted a robot? -->
  <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" />
<!-- <include file="$(find fetch_moveit_config)/launch/move_group.launch"/> -->

</launch>